.album-wrapper2{
    display: flex;
    width: 1060px;
    height: 400px;
    position: relative;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    margin: auto; /* 가운데 정렬 */
}


.album-container2{
    width: 1160px;
    height: 400px;
    overflow: hidden;
    display: flex;

} 


.albumslider2{
    margin-left: 40px;
    align-items: center;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content; /* 슬라이더의 실제 길이에 맞춰 조정 */
    justify-content: center;
    align-items: center;
    z-index: 0;

}


.albumslider2 img{
    /* margin-left: 100px; */
    width: 300px;   
    height: 300px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 13px;
    transform-origin: center center;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 1; /* 기본값 */
    position: relative; /* z-index가 작동하도록 설정 */
}


.left-albumarrow2 {
    left: -100px;
    
}

.right-albumaarrow2 {
    right: -100px;
}

.albumarrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.japan {
    width: 140px;
    height: 50px;
    background-color: #96a7ce; 
    margin-top: 5px;
    border-radius: 10%;

    display: flex; /* 이게 있어야 글씨 중앙으로 감 */
    position: relative;
    align-items: center; /*안에 세로 기준 글씨 중앙*/
    justify-content: center; /* 가로 기준 글씨 중앙 */
    margin: auto; /* 가운데 정렬 */
}

.japan a{
    font-size: 30px;
    font-family: "Do Hyeon", sans-serif;
}




.album3 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 10px;
    border-radius: 13px;
    transition: transform 0.3s ease;
  }
  
  .album3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 13px;
    z-index: 0;

  }
  
  .album3:hover img {
    z-index: 5; /* 이미지가 위로 올라오게 함 */
    transform: scale(1.2); /* 이미지 확대 효과 */
  }
  
  .album3 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5); /* 반회색 배경 */
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 13px;
    z-index: 5; /* 이미지가 위로 올라오게 함 */
    transition: transform 0.3s ease;
    flex-direction: column;
  }
  
  .album3 .overlay P {
    height: 290px;
    width: 290px;
    color: white;
    margin-left: 7px;
    font-size: 14px;
    overflow-y: auto;

  }

  .album3 .overlay h2 {
    color: white;
    font-size: 18px;
    margin-left: 4px;
  }
  .album3 .overlay small {
    color: white;
    font-size: 13px;
    margin-left: 4px;
    margin-top: 4px;
  }
  
  .album3:hover .overlay {
    opacity: 1; /* 마우스 호버 시 텍스트와 배경 나타남 */
    transform: scale(1.2); /* 오버레이도 확대 */
    z-index: 6;
    margin-left: 10px;
  }